.header {
    border-radius: 20px;
    background-color: $headerbackground;
    opacity: $transparence;
    margin: 15px auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 0 auto;

}

.header__logo img {
    width: 15%;
}