.modalContainer {
    @extend %modal;
    display: none;
}

.modalDoneContainer,
.lengthModalContainer {
    @extend %modal;
    background-color: #c09d9d;
    display: none;
}

.activeModal {
    display: block;
}


.modalTitle,
.doneModalTitle {
    width: 55%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

.lengthModalTitle {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

.modalDescr {
    width: 100%;
    min-height: 100px;
    padding: 10px 15px;
    margin-bottom: 15px;
    resize: none;
    font-size: 16px;
    border-radius: 10px;
}

.modalBtnContainer,
.doneModalBtnContainer {
    display: flex;
    justify-content: space-around;
}

.modalCancelBtn,
.modalAddBtn,
.doneModalYesBtn,
.doneModalNoBtn,
.lengthModalBtn  {
    @extend %modalbtn
}

.lengthModalBtn {
    display: block;
   margin: 0 auto
}


.modalCancelBtn:hover,
.modalAddBtn:hover,
.doneModalYesBtn:hover,
.doneModalNoBtn:hover {
    background-color: #aaa5a5;
}