.itemBlock {
    border: 2px solid black;
    width: 90%;
    margin: 10px auto;
    background: $todoitemcolor;
    border-radius: 10px;

}

.itemBlockHeader,
.itemBlockMain,
.itemBlockFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 5px;
}

.itemBlockMain {
    color:rgb(56, 45, 63)
}

.title {
    max-width: 60%;
    font-weight: 700;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.editBtn,
.delBtn {
    padding: 3px;
    border-radius: 5px;
}

.editBtn:hover,
.delBtn:hover,
.moveToProgressBtn:hover {
    color: red;
    background-color: antiquewhite;
}

.moveToProgressBtn {
    padding: 5px;
}

.moveToProgressStyle {
    background-color: $progressitemcolor;
}

.moveToDoneStyle {
    background-color: $doneitemcolor;
}