$font: 'Geologica', sans-serif;
$headerbackground: #989898;
$todocolor: #bdeac8;
$todoitemcolor: #5fc777;
$progresscolor: #e0e4e1;
$progressitemcolor:#e9f4bd;
$donecolor: #9deff4;
$modalcolor: #76638e;
$green:#3ec961;
$white: #e9f2eb;
$blue: #7a65ff;
$transparence: .8;



%block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border-radius: 25px;
    flex-shrink: 0;
}

%btn {
    width: 100%;
    height: 50px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

%modalbtn {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

%modal {
    position: absolute;
    width: 34%;
    padding: 25px;
    left: calc(50% - 34%/2);
    top: calc(50% - 34%/2);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: $modalcolor;
}